.notfound {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:100px;


  &__title {
    font-size: 8rem;      
    font-weight: bold;
    color: #FF6060;
    margin: 0 0 20px 0;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }

  &__link {
    color: black;
    font-size: 1rem;
    text-decoration: underline;

    &:hover {
      color: #e34c4c;
    }
  }
}
