.dropdown {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: #FF6060;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  color: white;
  line-height: 14.3%;

  &__icon {
    font-size: 30px;
    color: white;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.dropdown__content {
  color: black;
  background-color: #F6F6F6;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease, max-height 0.3s ease;

  &.open {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px; 
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .dropdown {
    width: 100%;
    font-size: 13px;
    padding: 5px 10px;

    &__icon {
      font-size: 20px;
    }
    
    &__content {
      width: 100%;
      font-size: 12px;
      
      &.open {
        padding: 10px 15px;
      }
    }
  }
}