@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    padding: 0 100px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 45px;
    gap:50px;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;

}



@media screen and (max-width: 810px) {
    body {
        padding: 0 20px;
    }
    .app {
        gap: 27px;
        padding-top: 20px;
    }
}